body {
  margin: 0;
  background: #ffffff;
  width: 100%;
  min-width: 940px;
}

header, section, footer {
  box-sizing: border-box;
  position: relative;
}

/*Начало верстки Header*/
.header {
  display: flex;
}

.block__narrow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35%;
  padding-left: 120px;
}

.block__wide {
  display: flex;
  justify-content: flex-end;
  width: 65%;
}

.header__logo {
  display: block;
  margin: 40px 0px;
}
  
.header__title {
  display: block;
  font-family: Roboto;
  font-weight: bold;
  font-size: 48px;
  color: #000000;
  text-shadow: 5px 5px 3px #F6DE5C; 
  margin-top: 60px;
}

.header__subtitle {
  display: inline-block;
  font-family: Roboto;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  color: #747373;
}

.button {
  margin: 60px 0;
}

.header__button {
  display: inline-block;
  padding: 10px 30px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  background-color: #000000;
  border: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
}

.header__button:hover {
  cursor: pointer;
  background-color: #F6DE5C;
  color: #000000;
  transition: none;
}
/*Конец верстки Header*/


.arrow {
  display: block;
  margin: 150px auto;
  width: 0px;
}


/*Начало верстки Section*/
.section__title {
  text-align: center;
  padding-bottom: 30px;
}

.catalogue__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px auto;
}

.catalogue__item {
  display: block;
  width: 25%;
}

.item__short {
  background-image: url(https://i.ibb.co/z4Ds4yp/1.png);
  background-repeat: no-repeat;
  height: 520px;
}

.item__short:hover {
  background-image: url(https://i.ibb.co/Bf08wxR/image.png);
}

.item__medium {
  background-image: url(https://i.ibb.co/3BrkYcJ/2.png);
  background-repeat: no-repeat;
  height: 550px;
}

.item__medium:hover {
  background-image: url(https://i.ibb.co/k1FcZdJ/1.png);
}

.item__long {
  background-image: url(https://i.ibb.co/1r0vhTY/3.png);
  background-repeat: no-repeat;
  height: 580px;
}

.item__long:hover {
  background-image: url(https://i.ibb.co/pQcGVrK/2.png);
}

.catalogue__text {
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-family: Roboto;
  font-size: 26px;
  color: #000000;
  opacity: 0;
  text-decoration: none;
  line-height: 450px;
}

.catalogue__text:hover {
  opacity: 1;
}
/*Конец верстки Section*/

/*Начало верстки Footer*/
.footer {
  display: flex;
}

.footer__block__wide {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 58%;
  background-image: url(https://i.ibb.co/HPpKYrf/Group.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__block__narrow {
  display: flex;
  justify-content: flex-end;
  width: 35%;
  padding-top: 120px;
  padding-right: 120px;
}

.footer__title {
  display: block;
  font-family: Roboto;
  font-weight: bold;
  font-size: 36px;
  color: #F6DE5C;
  text-shadow: 5px 5px 3px #000000; 
}

.footer__subtitle {
  width: 50%;
  display: inline-block;
  font-family: Roboto;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 100px;
}

.subscr {
  font-size: 0;
  width: 100%;
}

.subscr label {
  display: inline-block;
}

.subscr-button {
  display: inline-block;
  padding: 28px 28px 18px;
  border: none;
  background-image: url(https://i.ibb.co/wSkgWsB/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.subscr-button:hover {
  background-image: url(https://i.ibb.co/7y9y9WB/image.png);
}

.subscr-form {
  width: 300px;
  padding: 0 15px;
  background: #ffffff;
  border: 1.5px solid #000000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  line-height: 45px;
  color: #747373;
}

.footer__list, .social {
  list-style-type: none;
  padding: 0;
}

.button__up {
  display: block;
  text-align: right;
  margin-bottom: 60px;
}

.menu__link {
  display: block;
  font-family: Roboto;
  font-weight: 300;
  font-size: 24px;
  font-style: italic;
  color: #000000;
  text-decoration: none;
  text-align: right;
  line-height: 60px;
}

.social {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-top: 60px;
}

.social li {
  margin-right: 15px;
}

.social__icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(https://i.ibb.co/D7LMkWx/image.png);
  background-position-y: 0;
}

.twitter {
  background-position-x: 65px;
}

.insta {
  background-position-x: 20px;
  margin-right: 0;
}

.social__icon:hover,
.menu__item:hover {
  opacity: 0.7;
}

/*Конец верстки Footer*/
